
:root {
    --color0: white;
    --color1: black;
    --color2: gray;
    --color3: silver;
    --font1: Arial, Helvetica;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: var(--font1);
}
select {
    width: 200px;
    height: 25px;
    background-color: var(--color3);
    margin: 10px;
}
input {
    width: 80%;
    height: 25px;
    margin: 10px;
}
p, h3, h5 {
    padding: 5px; 
    line-height: 1.4rem;   
}
header, main, footer {
    width: 100%;
}
footer {
    background-color: var(--color2);
    text-align: center;
}
.banner {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    /* backgrund image */
    background-image: url(../img/ImagensGeral/trabalho-bike.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.logo {
    width: 15%; /* em relação ao elemento-pai */
}
.logo img {
    width: 100%;
}

nav {
    background-color: var(--color1);
    color: var(--color0);
    height: auto;
    line-height: 50px;
}
nav ul, .topCards, .eventCards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
    gap:10px;
}
.eventCards {
    padding: 50px;
}
.galeryImages {
    display: flex;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    justify-content: center;
}
.galeryImage {
    width: 200px;
    height: 200px;
}
.navItem {
    min-width: 100px;
}
.topCard {
    text-align: center;
}
.topCard img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.events {
    background-color: var(--color3);
}
.eventCard{
    display: flex;
    flex-direction: row;
}
.eventsHeader, .galery, .newsletter {
    padding-top: 40px;
    text-align: center;
}
.topCards, .newsletter {
    padding: 50px;
}
.galery {
    padding: 50px 0 50px 0;
}
.eventCardDate {
    width: 40px;
    height: 50px;
    text-align: center;
    padding: 20px 10px 0 10px;
    color: var(--color2);
    background-color: var(--color1);
}

.eventMonth {
    padding-bottom: 0;
    font-size: 10pt;
}
.eventDay {
    padding-top: 0;
    font-size: 15pt;
}
a {
    text-decoration: none;
    color: var(--color1)
}
.topCardButton, .newsButton {
    width: 150px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    text-align: center;
}
.eventCardContent {
    align-items: center;
}